<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLaps">
    <suite-files>
        <suite-file path="allScenariosWithChrome.xml"/>
        <suite-file path="allScenariosWithEdge.xml"/>
        <suite-file path="allScenariosWithFireFox.xml"/>
        <suite-file path="negativeScenarios.xml"/>
    </suite-files>
</suite>